@font-face {
  font-family: 'Amazon Ember';
  font-weight: 200;
  src: url(https://m.media-amazon.com/images/S/sash/Dv1WQ5DdeMS5qP7.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/e0LnMbFWJC-TMQz.woff) format("woff"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Amazon Ember", Arial, sans-serif; }

.top-navbar {
  height: 60px;
  width: 100vw;
  background: #131920;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .top-navbar-left {
    display: flex; }
    .top-navbar-left .logo {
      height: 50px;
      width: 113px;
      border: 1px solid #FFFFFF;
      padding: 10px 5px; }
      .top-navbar-left .logo-amazon {
        background-image: url(../assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
        background-position: -10px -51px;
        width: 97px;
        height: 30px; }
    .top-navbar-left a {
      text-decoration: none; }
      .top-navbar-left a .geo {
        display: flex;
        justify-content: center;
        width: 86px;
        height: 50px;
        border: 1px solid #FFFFFF;
        padding: 7px 5px; }
        .top-navbar-left a .geo-icon {
          width: 15px;
          height: 18px;
          background-image: url(../assets/images/nav-sprite-global-2x-hm-dsk-reorg._CB405937547_.png);
          background-size: 350px;
          background-repeat: no-repeat;
          background-position: -71px -378px;
          margin-top: 8px; }
        .top-navbar-left a .geo-text p:nth-child(1) {
          font-size: 12px;
          color: #CCCCCC;
          white-space: nowrap; }
        .top-navbar-left a .geo-text p:nth-child(2) {
          font-size: 14px;
          font-weight: 700;
          color: #FFFFFF; }
  .top-navbar-center {
    display: flex;
    flex-grow: 1;
    padding: 0 5px; }
    .top-navbar-center .search {
      display: flex;
      flex-grow: 1; }
      .top-navbar-center .search select {
        height: 38px;
        width: 50px;
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 2px;
        border: none; }
      .top-navbar-center .search input {
        width: 100%;
        height: 38px; }
  .top-navbar-right {
    display: flex; }
    .top-navbar-right .country {
      width: 50px;
      height: 50px;
      border: 1px solid #FFFFFF; }
      .top-navbar-right .country-flag {
        background-image: url(../assets/images/rzrQQdi0aRm6Dap.png);
        background-position: 0px -130px;
        width: 24px;
        height: 18px; }
      .top-navbar-right .country .down-arrow {
        border: solid;
        border-width: 4px 4px 0 4px;
        border-color: #a7acb2 transparent transparent transparent; }
    .top-navbar-right .account {
      width: 130px;
      height: 50px;
      border: 1px solid #FFFFFF; }
      .top-navbar-right .account-text {
        color: #FFFFFF; }
        .top-navbar-right .account-text p:nth-child(1) {
          font-size: 12px; }
        .top-navbar-right .account-text p:nth-child(2) {
          font-size: 14px;
          font-weight: 700; }
    .top-navbar-right .orders {
      width: 130px;
      height: 50px;
      border: 1px solid #FFFFFF; }
      .top-navbar-right .orders-text {
        color: #FFFFFF; }
        .top-navbar-right .orders-text p:nth-child(1) {
          font-size: 12px; }
        .top-navbar-right .orders-text p:nth-child(2) {
          font-size: 14px;
          font-weight: 700; }
    .top-navbar-right .cart {
      height: 50px;
      width: 83px;
      border: 1px solid #FFFFFF;
      display: flex; }
      .top-navbar-right .cart-amount {
        color: #f08804;
        font-size: 16px;
        font-weight: 700;
        width: 19px;
        height: 16px; }
      .top-navbar-right .cart-icon {
        background-image: url(../assets/images/nav-sprite-global-2x-hm-dsk-reorg._CB405937547_.png);
        background-position: -10px -340px;
        background-size: 350px;
        width: 38px; }
      .top-navbar-right .cart-text {
        color: #FFFFFF; }
        .top-navbar-right .cart-text p {
          font-size: 14px;
          font-weight: 700; }

.sub-navbar {
  display: flex;
  background: #232F3E;
  height: 39px;
  line-height: 35px; }
  .sub-navbar-hamburger a {
    display: flex; }
    .sub-navbar-hamburger a figure {
      background-image: url(../assets/images/nav-sprite-global-2x-hm-dsk-reorg._CB405937547_.png);
      background-position: -172px -255px;
      background-size: 350px;
      width: 17px;
      height: 14px; }
  .sub-navbar-links a {
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    font-size: 14px;
    border-radius: 2px;
    padding: 7px 8px; }

.main {
  display: flex;
  justify-content: center;
  height: 100vh; }
  .main-wrapper {
    width: calc(min(1500px, 100vw)); }
    .main-wrapper .black-friday-box {
      display: flex;
      width: 1500px;
      justify-content: center; }
    .main-wrapper .black-friday-box img {
      width: 650px; }
    .main-wrapper .nav-tree-list {
      display: flex;
      list-style: none; }
      .main-wrapper .nav-tree-list a {
        text-decoration: none;
        color: #565959; }
      .main-wrapper .nav-tree-list span {
        color: #565959; }
    .main-wrapper .product {
      display: grid;
      grid-template-rows: 1;
      grid-template-columns: 38px auto auto auto; }
      .main-wrapper .product ul {
        list-style: none; }
      .main-wrapper .product-mini-pics {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1; }
        .main-wrapper .product-mini-pics img {
          width: 38px; }
      .main-wrapper .product-pic {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1; }
      .main-wrapper .product-content {
        grid-row: 1 / span 1;
        grid-column: 3 / span 1; }
      .main-wrapper .product-buy {
        grid-row: 1 / span 1;
        grid-column: 4 / span 1; }
