@font-face {
  font-family: 'Amazon Ember';
  font-weight: 200;
  src: url(https://m.media-amazon.com/images/S/sash/Dv1WQ5DdeMS5qP7.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/e0LnMbFWJC-TMQz.woff) format("woff"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  font-family: "Amazon Ember", Arial, sans-serif; }

.top-navbar {
  height: 60px;
  background: #131920;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px; }
  .top-navbar-left {
    display: flex; }
    .top-navbar-left .logo {
      height: 50px;
      width: fit-content;
      padding-top: 0 10px;
      border: 1px solid #131920;
      padding: 10px 5px;
      border-radius: 2px;
      position: relative; }
      .top-navbar-left .logo:hover {
        border-color: #FFFFFF; }
      .top-navbar-left .logo-amazon {
        background-image: url(../assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
        background-position: -10px -51px;
        width: 97px;
        height: 30px; }
    .top-navbar-left a {
      text-decoration: none;
      margin-left: 5px; }
      .top-navbar-left a .geo {
        display: flex;
        justify-content: center;
        padding: 0 10px;
        width: fit-content;
        height: 50px;
        border: 1px solid #131920;
        border-radius: 2px; }
        .top-navbar-left a .geo:hover {
          border-color: #FFFFFF; }
        .top-navbar-left a .geo-icon {
          width: 15px;
          height: 18px;
          background-image: url(../assets/images/nav-sprite-global-2x-hm-dsk-reorg._CB405937547_.png);
          background-size: 350px;
          background-position: -71px -378px;
          position: relative;
          top: 20px;
          right: 2px; }
        .top-navbar-left a .geo-text {
          display: flex;
          flex-flow: column wrap;
          justify-content: center; }
          .top-navbar-left a .geo-text span:nth-child(1) {
            font-size: 12px;
            font-weight: 400;
            color: #CCCCCC;
            white-space: nowrap; }
          .top-navbar-left a .geo-text span:nth-child(2) {
            font-size: 14px;
            font-weight: 700;
            color: #FFFFFF;
            position: relative;
            bottom: 2px; }
  .top-navbar-center {
    display: flex;
    flex-grow: 1;
    padding: 0 30px; }
    .top-navbar-center .search {
      display: flex;
      flex-grow: 1; }
      .top-navbar-center .search-category {
        position: relative; }
        .top-navbar-center .search-category select {
          height: 38px;
          width: 50px;
          -webkit-appearance: none;
          -moz-appearance: none;
          border-radius: 4px 0 0 4px;
          border: none;
          text-indent: 3px;
          font-size: 12px;
          cursor: pointer; }
        .top-navbar-center .search-category .down-arrow {
          position: absolute;
          right: 10px;
          top: 17px;
          border: solid;
          border-width: 4px 4px 0 4px;
          border-color: #a7acb2 transparent transparent transparent;
          border-color: black transparent transparent transparent; }
      .top-navbar-center .search-textfield {
        width: 100%;
        height: 38px;
        outline: none;
        border: none;
        border-left: 1px solid #d6cfcf; }
      .top-navbar-center .search-submit {
        background: #febd69;
        border-radius: 0 4px 4px 0; }
        .top-navbar-center .search-submit:hover {
          background: #F3A847; }
        .top-navbar-center .search-submit-button {
          width: 45px;
          height: 38px;
          border: none;
          background: none;
          background-image: url(../assets/images/nav-sprite-global-2x-hm-dsk-reorg._CB405937547_.png);
          background-position: 2px -280px;
          background-size: 350px;
          cursor: pointer; }
  .top-navbar-right {
    display: flex; }
    .top-navbar-right .country {
      width: 50px;
      height: 50px;
      border: 1px solid #131920;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 10px;
      border-radius: 2px; }
      .top-navbar-right .country:hover {
        border-color: #FFFFFF; }
      .top-navbar-right .country-flag {
        background-image: url(../assets/images/rzrQQdi0aRm6Dap.png);
        background-position: 0px -130px;
        width: 24px;
        height: 18px;
        margin-right: 3px; }
      .top-navbar-right .country .down-arrow {
        border: solid;
        border-width: 4px 4px 0 4px;
        border-color: #a7acb2 transparent transparent transparent;
        position: relative;
        top: 4px; }
    .top-navbar-right .account-link {
      text-decoration: none;
      margin: 0 2px; }
      .top-navbar-right .account-link .account {
        width: fit-content;
        padding: 0 10px;
        height: 50px;
        border: 1px solid #131920;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px; }
        .top-navbar-right .account-link .account:hover {
          border-color: #FFFFFF; }
        .top-navbar-right .account-link .account-text {
          color: #FFFFFF;
          display: flex;
          justify-content: center;
          flex-flow: column wrap;
          white-space: nowrap; }
          .top-navbar-right .account-link .account-text p:nth-child(1) {
            text-decoration: none;
            font-size: 12px; }
          .top-navbar-right .account-link .account-text p:nth-child(2) {
            font-size: 14px;
            font-weight: 700; }
        .top-navbar-right .account-link .account .down-arrow {
          border: solid;
          border-width: 4px 4px 0 4px;
          border-color: #a7acb2 transparent transparent transparent;
          position: relative;
          top: 10px;
          left: 3px; }
    .top-navbar-right .orders-link {
      text-decoration: none; }
      .top-navbar-right .orders-link .orders {
        width: fit-content;
        padding: 0 10px;
        height: 50px;
        border: 1px solid #131920;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px; }
        .top-navbar-right .orders-link .orders:hover {
          border-color: #FFFFFF; }
        .top-navbar-right .orders-link .orders-text {
          color: #FFFFFF;
          white-space: nowrap; }
          .top-navbar-right .orders-link .orders-text p:nth-child(1) {
            font-size: 12px; }
          .top-navbar-right .orders-link .orders-text p:nth-child(2) {
            font-size: 14px;
            font-weight: 700; }
    .top-navbar-right .cart-link {
      text-decoration: none;
      margin-left: 2px; }
      .top-navbar-right .cart-link .cart {
        height: 50px;
        width: fit-content;
        padding: 0 10px;
        border: 1px solid #131920;
        border-radius: 2px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        .top-navbar-right .cart-link .cart:hover {
          border-color: #FFFFFF; }
        .top-navbar-right .cart-link .cart-icon {
          background-image: url(../assets/images/nav-sprite-global-2x-hm-dsk-reorg._CB405937547_.png);
          background-position: -10px -340px;
          background-size: 350px;
          width: 38px;
          height: 26px;
          position: relative; }
          .top-navbar-right .cart-link .cart-icon-amount {
            color: #f08804;
            font-size: 16px;
            font-weight: 700;
            width: 19px;
            height: 16px;
            position: absolute;
            left: 18px;
            bottom: 16px; }
        .top-navbar-right .cart-link .cart-text {
          color: #FFFFFF;
          position: relative;
          top: 5px;
          font-size: 14px;
          font-weight: 700; }

.sub-navbar {
  background: #232F3E;
  height: 39px;
  display: flex;
  align-items: center;
  padding-left: 15px; }
  .sub-navbar-list {
    display: flex;
    list-style: none; }
    .sub-navbar-list .hamburger {
      height: 28px;
      padding: 3px 8px;
      border: 1px solid #232F3E;
      border-radius: 2px; }
      .sub-navbar-list .hamburger a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #FFFFFF; }
        .sub-navbar-list .hamburger a figure {
          background-image: url(../assets/images/nav-sprite-global-2x-hm-dsk-reorg._CB405937547_.png);
          background-position: -172px -255px;
          background-size: 350px;
          width: 17px;
          height: 14px; }
        .sub-navbar-list .hamburger a span {
          padding-left: 4px;
          font-size: 14px;
          font-weight: 700; }
    .sub-navbar-list-link {
      border: 1px solid #232F3E;
      border-radius: 2px;
      height: 28px;
      line-height: 24px; }
      .sub-navbar-list-link a {
        padding: 7px 13px;
        color: #FFFFFF;
        text-decoration: none;
        font-size: 14px; }
    .sub-navbar-list .hamburger:hover, .sub-navbar-list-link:hover {
      border: 1px solid #FFFFFF; }

.main {
  display: flex;
  justify-content: center; }
  .main-wrapper {
    width: calc(min(1500px, 100vw)); }
    .main-wrapper .black-friday-box {
      display: flex;
      justify-content: center;
      min-width: 1000px; }
    .main-wrapper .black-friday-box img {
      width: 650px; }
    .main-wrapper .nav-tree {
      margin-top: 4px;
      margin-bottom: 20px;
      margin-left: 20px; }
      .main-wrapper .nav-tree-list {
        display: flex;
        list-style: none;
        color: #565959; }
        .main-wrapper .nav-tree-list li {
          padding-right: 5px; }
        .main-wrapper .nav-tree-list a {
          text-decoration: none;
          color: #565959;
          font-size: 12px;
          font-weight: bold; }
        .main-wrapper .nav-tree-list span {
          color: #565959;
          font-size: 12px;
          font-weight: bold; }
    .main-wrapper .product {
      display: grid;
      grid-template-rows: 1;
      grid-template-columns: 38px auto auto auto; }
      .main-wrapper .product ul {
        list-style: none; }
      .main-wrapper .product-mini-pics {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1; }
        .main-wrapper .product-mini-pics img {
          width: 38px; }
      .main-wrapper .product-pic {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1; }
      .main-wrapper .product-content {
        grid-row: 1 / span 1;
        grid-column: 3 / span 1; }
      .main-wrapper .product-buy {
        grid-row: 1 / span 1;
        grid-column: 4 / span 1; }
